In [1]:
import pandas as pd
import numpy as np

In [18]:
#生成1到10服从均匀分布的随机数
random_uni=np.random.uniform(1,10,10000)
#生成均值为3.标准差为9的正态分布随机数
random_nor=np.random.normal(3,9,10000)
#生成均值为5的泊松分布随机数
random_poi=np.random.poisson(5,10000)
#生成均值为7的指数分布随机数
random_exp=np.random.exponential(7,10000)

In [31]:
#把随机数放进数据框中,通过describe函数输出标准差，均值，最小值
random_uni=pd.DataFrame(random_uni)
random_uni.describe(include='all')

                  0
count  10000.000000
mean       5.496333
std        2.607217
min        1.000691
25%        3.192911
50%        5.514236
75%        7.769522
max        9.999978

In [20]:
random_nor=pd.DataFrame(random_nor)
random_nor.describe()

                  0
count  10000.000000
mean       2.942720
std        8.982057
min      -33.519255
25%       -3.086718
50%        2.923345
75%        8.975124
max       38.681639

In [32]:
random_poi=pd.DataFrame(random_poi)
random_poi.describe()

                  0
count  10000.000000
mean       5.006300
std        2.253568
min        0.000000
25%        3.000000
50%        5.000000
75%        6.000000
max       16.000000

In [33]:
random_exp=pd.DataFrame(random_exp)
random_exp.describe()

                  0
count  10000.000000
mean       7.001151
std        6.939739
min        0.000717
25%        2.031773
50%        4.917752
75%        9.697236
max       68.311324